<a href="{% url 'homepage' %}">homepage</a>
<a href="{% url 'tweet' %}">tweet</a>
<a href="{% url 'notifications' %}">notifications</a>
<a href="{% url 'profile' User %}">profile</a>
<a href="{% url 'logout' %}">logout</a>



<br>
<br>
<br>


{% include content.page with content=content.content %}