{% load addstr %}

<a href="{% url 'profile' username=content.tweet.user %}">{{ content.tweet.user }}</a> :
<a href="{% url 'tweett' id=content.tweet.pk %}">{{ content.tweet.time_submit }}</a>
<br>
{{ content.tweet.content }}
<br>
<br>
