total tweets : {{ content.total_tweets }}
<br>
total following : {{ content.total_follow }}
<br>
{% if content.logged %}
  {% if content.is_following %}
    <a href='unfollow' >unfollow</a>
  {% else %}
    <a href='follow' >follow</a>
  {% endif %}
{% endif %}
